@import url('https://fonts.googleapis.com/css?family=Bitter|Mukta&display=swap');
@import url('https://fonts.googleapis.com/css?family=Merriweather+Sans&display=swap');
 
/* * {
    background-color: rgb(233, 255, 255); */
/* } */


header {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #24252A ;
}




li, a {
   font-family: "Bitter", sans-serif;
   font-weight: 500;
   font-size: 16px;
   color: #1c4685;
   text-decoration: none;
}

header {

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10% ;
}

.navLink {
    list-style: none;
}
 
.navLink li {
    display: inline-block;
    padding: 0px 20px;

}

.navLink li a{
    transition: all 0.3s ease 0s;
}

.navLink li a :hover{
    color: #0088a9 ;
    }

    



h1{

    text-align: center;
}





 /* .container {

width: 80%;
margin: 0 auto;

 }

 .header {} */

 .aboutMe {

    background-color: rgb(204, 255, 255);

 }

 .para1 {

    background-color: rgb(204, 255, 255);
    text-align: center;
    font-size: 20px;
 }

 .img1 {
     display: flex;
     justify-content: center;

    /* background-color: rgb(204, 255, 255); */
    /* background-image: url(https://www.nme.com/wp-content/uploads/2019/10/simpsonshitandrun.jpg); */
    /* background-size: 100px 200px; */
    background-repeat: no-repeat; 
    background-position: center;
    /* height: 100px;
    width: 10%; */
    padding: 5px;
 }

 .img2 {

    display: flex;
    justify-content: center;
 }

 .para2 {

    background-color: rgb(204, 255, 255);
    text-align: center;
    font-size: 20px;
 }

 